.Alert {
  color: red;
}

.App {
  text-align: center;
  max-width: 500px;
  vertical-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.FooterBtn {
  position: fixed;
  align-items: center;
  left: 0px;
  bottom: 0;
  right: 0;
}

.Link {
  font-size: 150%;
}

/* .p {
  margin-bottom: 0px;
} */

.results {
  width:500;
}

#userIcon {
  padding-left: 18%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
